
/*Components*/
html,body{
    /*overflow: hidden;*/
    position: absolute;
    width: 100%;
    height: 100%;
}
/*.btn{
    font-weight: bold;
    color: #242540;
}*/.sorteio-area{
    /*background-image: url(../img/background-flow.jpg) ;*/
    background-color: #01B463;
    -webkit-box-shadow: inset 0px 0px 150px 60px #009367;
    -moz-box-shadow: inset 0px 0px 150px 60px #009367;
    box-shadow: inset 0px 0px 150px 60px #009367;
    width: 100%;
    height: 100%;
}.header-menu{
    top: 0px;
    padding: 20px 10px;
    overflow: hidden;
    /*background-color: pink;*/
}.layout-area{
    top: 90px;
    position: absolute;
    /*background-color: red;*/
    width: 100%;
    height: calc(100% - 90px);
}.logo{
    float: left;
    text-align: center;
    padding: 12px;
    width: 300px;
}.login{
    /*visibility: hidden;*/
    float: right;
    padding: 12px;
    width: 150px;
    height: 70px;
    font-weight: bold;
    font-size: 15pt;
    z-index: 3;
    /*font-size: 20pt;
    background-color: transparent;*/
}.box-info{
    position: absolute;
    background-color: #1F203F;
    box-shadow: rgba(0, 0, 0, 0.384) 10px 10px;
   /* height: 100%;*/
    width: 400px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-weight: 400;
    color: whitesmoke;
    font-size: 11pt;
    right: 30px;
    z-index: 10;
}footer{
    position: absolute;
    height: 150px;
    width: 100%;
    bottom: 0px;
    /*background-color: bisque;*/
    padding: 30px;
}.move3d{
    transform-style: preserve-3d;
    -moz-transform:  scale(1) translateX(-50%) translateY(-50%) perspective(200cm) rotateX(-15deg) rotateY(15deg);
   -webkit-transform:  scale(1) translateX(-50%) translateY(-50%) perspective(200cm) rotateX(-15deg) rotateY(15deg);
   transform:  scale(1) translateX(-50%) translateY(-50%) perspective(200cm) rotateX(-0deg) rotateY(15deg);
}.box-premium{
    margin-top: 10px;
    position: absolute;
    left: 50px;
    color: whitesmoke;
    transition: all .5s;
    background-color: #1F203F;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}.box-premium:hover{
    /*color: #009367;*/
    transform: scale(1.1);
}.box-premium h1{
    font-size: 24pt;
    line-height: 50px;
}

@media screen and (min-width:768px){
    /*Computer*/
    /*.header-menu{
        position: absolute;
        padding-top: 50px;
        height: 150px;

    }.logo{
        width: 300px;

    }.login{
        font-size: 20pt;
        width: 150px;
        height: 70px;

    }*/
}

@media all and (max-width:767px){
    /*Smartphone*/
    /*.header-menu{
        position: absolute;
        padding-top: 30px;
        height: 150px;

    }.logo{
        width: 150px;
        margin-left: 30px;

    }.login{
        font-size: 15pt;
        width: 100px;
        height: 50px;
        right: 20px;

    }*/
    .logo{
        width: 200px;
    }.login{
        font-size: 10pt;
        width: 100px;
        height: 50px;
    }
}@media all and (max-height:600px) and (orientation : landscape){
    /*Smartphone Horizontal*/
    /*.header-menu{
        position: absolute;
        padding-top: 30px;
        height: 150px;

    }.logo{
        width: 150px;
        margin-left: 30px;

    }.login{
        font-size: 15pt;
        width: 100px;
        height: 50px;
        right: 20px;

    }*/
}
@media screen and (min-width:700px) and (min-height:700px){
    /*Tablet*/
    /*.logo{
        position: absolute;
        min-width: 200px;
        max-width: 300px;

    }*/

}